/* 清空默认样式 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
/* 原子类 */
.container{
    width: 1200px;
    margin: 0 auto;
}
body{
    min-width: 1500px;
}
/* 状态栏 */
.status{
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#037ecc,#1bbae2);
}
.status .container{
    display: flex;
    justify-content: flex-end;
}
.status span{
    white-space: pre;
}
.status .user{
    width: 10px;
    position: relative;
    margin-left: 50px;
}
.status .user::before{
    content: "";
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 5px;
    width: 6px;
    height: 6px;
}
.status .user::after{
    content: "";
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    position: absolute;
    top: 14px;
    left: -5px;
    width: 16px;
    height: 8px;
}
.status .text{
    margin-right: 15px;
}
/* 导航 */
.nav{
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 3px rgba(0, 0,0, 0.2);
}
.nav .container{
    display: flex;
    align-items: center;
}
.nav img{
    width: 106px;
    height: 22px;
    margin-right: 60px;
}
.nav ul{
    display: flex;
    /* 沾满剩余空间，将input挤到右边去 */
    flex: 1;
}
.nav li{
    margin-right: 55px;
}
.nav input{
    padding: 6px 16px;
    /* 输入框的外边框 */
    outline: none;
    border-radius: 15px ;
    border: 1px solid #999;
}
.nav .search .search-hover{
    position: relative;
    font-size: 12px;
    top: -30px;
    left: 60px;
    line-height: 1;
}
.nav .search .search-hover span{
    background-color: #ccc;
    margin-left: 6px;
    padding: 2px 4px;
}