/* 清空默认样式 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}

/* 原子类 */
.container{
    width: 1200px;
    margin: 0 auto;
}
/* 按钮 */
.btn{
    padding: 6px 20px;
    border-radius: 6px;
    color: #fff;
    background: #e5004f;
    text-align: center;
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding-right: 30px;
}
.btn::before,
.btn::after{
    content: "";
    position: absolute;
    right: 12px;
    top: 11px;
    border: 5px solid transparent;
    border-left-color: #fff;
}
.btn::after{
    right: 14px;
    border-left-color: #e5004f;
}
/* 渐变线 */
.line{
    margin: 0 auto;
    width: 1200px;
    height: 10px;
    overflow: hidden;
}
.line::after{
    content: "";
    border: 10px solid transparent;
    border-right-width: 1200px;
    border-left-width: 0;
    border-right-color: #078bb1;
    position: relative;
    top:-19px
}
.line-left::after{
    border-left-width: 1200px;
    border-right-width: 0;
    border-left-color: #078bb1;
}

body{
    min-width: 1500px;
    background-color: #efefef;
}

/* 状态栏 */
.status{
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#037ecc,#1bbae2);
}
.status .container{
    display: flex;
    justify-content: flex-end;
}
.status span{
    white-space: pre;
}
.status .user{
    width: 10px;
    position: relative;
    margin-left: 50px;
}
.status .user::before{
    content: "";
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 5px;
    width: 6px;
    height: 6px;
}
.status .user::after{
    content: "";
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    position: absolute;
    top: 14px;
    left: -5px;
    width: 16px;
    height: 8px;
}
.status .text{
    margin-right: 15px;
}

/* 导航 */
.nav{
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0,0, 0.2);
}
.nav .container{
    display: flex;
    align-items: center;
}
.nav img{
    width: 106px;
    height: 22px;
    margin-right: 60px;
}
.nav ul{
    display: flex;
    /* 沾满剩余空间，将input挤到右边去 */
    flex: 1;
}
.nav li{
    margin-right: 55px;
}
.nav input{
    padding: 6px 16px;
    /* 输入框的外边框 */
    outline: none;
    border-radius: 15px ;
    border: 1px solid #999;
}
.nav .search{
    position: relative;
}
.nav .search .search-hover{
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 60px;
    line-height: 1;
}
.nav .search .search-hover span{
    background-color: #ccc;
    margin-left: 6px;
    padding: 2px 4px;
}

/* banner */
.banner .container{
    position: relative;
    height: 550px;
    background: url(../picture/banner3.png) no-repeat center 3px;
}
.banner .arrow{
    position: absolute;
    width: 48px;
    height: 48px;
    background: rgba(0, 0,0, 0.3) url(../picture/arrows_right.png) no-repeat center center;
    top: 50%;
    margin-top: -24px;
    right: 20px;
    border-radius: 50%;
}
.banner .arrow1{
    left: 20px;
    background-image: url(../picture/arrow_left.png);
}

/* 手机型号模块 */
.phone{
    margin-top: -10px;
}
.phone .container{
    text-align: center;
    background-color: #fff;
}
.phone h2{
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    padding: 40px 0 30px;
}
.phone .select-list{
    display: flex;
    justify-content: center;
}
.phone select{
    width: 140px;
    margin: 10px;
    height: 30px;
}
.phone .range img{
    vertical-align: middle;
    width: 550px;
}
.phone .range .btn{
    background-color: #078bb1;
}
.phone .range .btn::after{
    border-left-color: #078bb1;
}
.phone .content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.phone .content img{
    margin-right: 80px;
}
.phone .content .info{
    flex-basis: 450px;
    text-align: left;
}
.phone .content .info h3{
    font-size: 30px;
    padding: 70px 0 30px;
}
.phone .content .info h3 span{
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 10px;
    padding: 1px 2px;
    position: relative;
    top: -10px;
}
.phone .content .intro{
    font-size: 20px;
    margin-bottom: 10px;
}
.phone .content .info p{
    line-height: 40px;
}
.phone .content .info .btn{
    margin-top: 40px;
}